apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  namespace: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: pihole
        image: pihole/pihole:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: TZ
          value: "Europe/London"
        - name: FTLCONF_webserver_api_password
          value: "correct horse battery staple"
        - name: FTLCONF_dns_listeningMode
          value: "ALL"
        ports:
        - containerPort: 53
          protocol: UDP
        - containerPort: 53
          protocol: TCP
        - containerPort: 80
          protocol: TCP
        - containerPort: 443
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/pihole
          name: pihole-data
        #- mountPath: /etc/dnsmasq.d
        #  name: dnsmasq-data
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - SYS_TIME
              - SYS_NICE
      volumes:
      - name: pihole-data
        persistentVolumeClaim:
          claimName: pihole-pvc
      #- name: dnsmasq-data
      #  persistentVolumeClaim:
      #    claimName: dnsmasq-pvc