replicaCount: 1

image:
  repository: pihole/pihole
  tag: latest
  pullPolicy: IfNotPresent

timezone: "Europe/London"
adminPassword: "correct horse battery staple"

# Use hostNetwork if you want to bind to the Pi's actual IP
hostNetwork: true

persistence:
  storageClass: "local-path"
  pihole:
    size: 2Gi
  dnsmasq:
    size: 1Gi

service:
  dnsUdpPort: 30053
  dnsTcpPort: 30054
  webPort: 30080
  httpsPort: 30443