replicaCount: 1

image:
  repository: pihole/pihole
  tag: "2025.11.1"
  pullPolicy: IfNotPresent

timezone: Europe/Paris
adminPassword: "CHANGE_ME_NOW"

service:
  dns:
    type: LoadBalancer   # or NodePort if you prefer
    loadBalancerIP: 192.168.1.100
  web:
    type: NodePort
    port: 80
    nodePort: 30080

persistence:
  enabled: true
  storageClass: local-path
  size: 2Gi

resources:
  pihole:
    requests:
      memory: 256Mi
    limits:
      memory: 512Mi
  unbound:
    requests:
      memory: 64Mi
    limits:
      memory: 256Mi

unbound:
  image: klutchell/unbound:latest
  port: 5335