replicaCount: 1

image:
  repository: pihole/pihole
  tag: "2025.11.1"
  pullPolicy: IfNotPresent

timezone: Europe/Paris
adminPassword: "CHANGE_ME_NOW"

service:
  dns:
    type: LoadBalancer
    loadBalancerIP: 192.168.1.100
  web:
    type: ClusterIP
    port: 80

persistence:
  enabled: true
  storageClass: longhorn
  size: 2Gi

resources:
  pihole:
    requests:
      memory: 256Mi
    limits:
      memory: 512Mi
  unbound:
    requests:
      memory: 64Mi
    limits:
      memory: 256Mi

unbound:
  image: mvance/unbound:1.20.0
  port: 5335