replicaCount: 1

image:
  repository: pihole/pihole
  tag: "2025.11.1"
  pullPolicy: IfNotPresent

timezone: Europe/Paris
adminPassword: "CHANGE_ME_NOW"

service:
  dns:
    type: LoadBalancer
    loadBalancerIP: 192.168.1.100   # Pi-hole DNS IP
  web:
    type: LoadBalancer              # change from NodePort
    loadBalancerIP: 192.168.1.101  # pick a free IP in your LAN for the web UI
    port: 80

persistence:
  enabled: true
  storageClass: local-path
  size: 2Gi

resources:
  pihole:
    requests:
      memory: 256Mi
    limits:
      memory: 512Mi
  unbound:
    requests:
      memory: 64Mi
    limits:
      memory: 256Mi

unbound:
  image: klutchell/unbound:latest
  port: 5335