replicaCount: 1

image:
  repository: pihole/pihole
  tag: latest
  pullPolicy: IfNotPresent

timezone: "Europe/London"
adminPassword: "correct horse battery staple"

hostNetwork: true

extraEnv:
  FTLCONF_dns_listeningMode: "ALL"
  FTLCONF_dns_hostRecord: "false"
  FTLCONF_webserver_serve_all: "true"

securityContext:
  privileged: true
  capabilities:
    add: ["NET_ADMIN", "SYS_TIME", "SYS_NICE", "CHOWN"]

persistence:
  storageClass: "local-path"
  pihole:
    size: 2Gi
  dnsmasq:
    size: 1Gi

service:
  type: ClusterIP
  webPort: 80 

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/upstream-vhost: "pi.hole"
  hosts:
    - host: pi.hole
      paths:
        - path: /
          pathType: Prefix