replicaCount: 1

image:
  repository: pihole/pihole
  tag: latest
  pullPolicy: IfNotPresent

timezone: "Europe/London"
adminPassword: "correct horse battery staple"

# CHANGED TO FALSE: Let Ingress handle the web traffic
hostNetwork: false

# Pi-hole v6 specific: Allow the pi.hole hostname
extraEnv:
  FTLCONF_webserver_api_allowedHosts: "*"

persistence:
  storageClass: "local-path"
  pihole:
    size: 2Gi
  dnsmasq:
    size: 1Gi

service:
  dnsUdpPort: 30053
  dnsTcpPort: 30054
  webPort: 80 # Internal container port
  httpsPort: 443

ingress:
  enabled: true
  className: nginx
  annotations:
    # This helps with the Pi-hole v6 admin pathing
    nginx.ingress.kubernetes.io/app-root: /admin
  hosts:
    - host: pi.hole
      paths:
        - path: /
          pathType: Prefix
  tls: []