replicaCount: 1

image:
  repository: pihole/pihole
  tag: "2025.11.1"
  pullPolicy: IfNotPresent

timezone: Europe/Paris
adminPassword: "CHANGE_ME_NOW"

service:
  dns:
    type: LoadBalancer
    loadBalancerIP: 192.168.1.43  # make sure it's free
    port: 53                       # DNS port
  web:
    type: LoadBalancer
    loadBalancerIP: 192.168.1.44  # make sure it's free
    port: 80                       # HTTP port

persistence:
  enabled: true
  storageClass: local-path
  size: 2Gi

resources:
  pihole:
    requests:
      memory: 256Mi
    limits:
      memory: 512Mi
  unbound:
    requests:
      memory: 64Mi
    limits:
      memory: 256Mi

unbound:
  image: klutchell/unbound:latest
  port: 5335