adminPassword: "pihole"
timezone: "Europe/Paris"

# Network Configuration
hostNetwork: true

# The MoJo2600 v6 Configuration Block
config:
  dns:
    listeningMode: "ALL"
    piholePTR: "PI.HOLE"
    hostRecord: "false"  # CRITICAL: Stops the 'Bad host-record' error
  webserver:
    serve_all: true      # CRITICAL: Fixes the 404 behind Ingress
    domain: "pi.hole"

# Ingress Configuration
ingress:
  enabled: true
  ingressClassName: nginx
  path: /
  pathType: Prefix
  hosts:
    - pi.hole
  annotations:
    nginx.ingress.kubernetes.io/upstream-vhost: "pi.hole"

# Persistence (Adjust StorageClass to yours, e.g., glusterfs-storage)
persistentVolumeClaim:
  enabled: true
  storageClass: "glusterfs-storage" 

# Your Lists from GitHub
adlists:
  - https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
  - https://v.firebog.net/hosts/static/w3kbl.txt
whitelist:
  - github.com
  - googleapis.com