adminPassword: "pihole"
timezone: "Europe/Paris"

# Network Configuration
hostNetwork: true

# Ingress Configuration (Disabled to use hostNetwork)
ingress:
  enabled: false

# Persistence (Only for /etc/pihole)
persistentVolumeClaim:
  enabled: true
  storageClass: "local-path"
  size: 500Mi

# Lists
adlists:
  - https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
  - https://v.firebog.net/hosts/static/w3kbl.txt
whitelist:
  - github.com
  - googleapis.com