replicaCount: 1

image:
  repository: pihole/pihole
  tag: latest
  pullPolicy: IfNotPresent

timezone: "Europe/London"
adminPassword: "correct horse battery staple"

hostNetwork: false

extraEnv:
  # v6: Allow all hostnames (fixes the black 404)
  FTLCONF_webserver_api_allowedHosts: "*"
  # v6: Tell it to trust the Ingress network
  FTLCONF_webserver_api_trustedProxies: "10.42.0.0/16,10.43.0.0/16,192.168.1.0/24"

persistence:
  storageClass: "local-path"
  pihole:
    size: 2Gi
  dnsmasq:
    size: 1Gi

service:
  dnsUdpPort: 30053
  dnsTcpPort: 30054
  webPort: 80 
  httpsPort: 443

ingress:
  enabled: true
  className: nginx
  annotations:
    # Forces any root request to go straight to /admin
    nginx.ingress.kubernetes.io/app-root: /admin
    # Important for v6 API stability
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  hosts:
    - host: pi.hole
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: pihole-tls-secret
      hosts:
        - pi.hole