apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "pihole.fullname" . }}
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    # Handle the hostname pi.hole
    - host: "pi.hole"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "pihole.fullname" . }}
                port:
                  number: 80
    # Handle the IP address access directly
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "pihole.fullname" . }}
                port:
                  number: 80