# templates/pihole-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
        - name: pihole
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 53
              protocol: UDP
            - containerPort: 53
              protocol: TCP
            - containerPort: 80
          env:
            - name: TZ
              value: {{ .Values.timezone }}
            - name: WEBPASSWORD
              value: {{ .Values.adminPassword }}
            - name: PIHOLE_DNS_
              value: "unbound.pihole.svc.cluster.local#{{ .Values.unbound.port }}"
            - name: DNSMASQ_LISTENING
              value: "all"
          volumeMounts:
            - name: data
              mountPath: /etc/pihole
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          resources:
{{ toYaml .Values.resources.pihole | indent 12 }}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: pihole-data