apiVersion: v1
kind: Service
metadata:
  name: {{ include "pihole.fullname" . }}-web
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    {{- include "pihole.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "pihole.fullname" . }}-dns
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    {{- include "pihole.selectorLabels" . | nindent 4 }}
  ports:
    - name: dns-udp
      port: 53
      targetPort: 53
      protocol: UDP
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP